@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background: antiquewhite;
}

h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

p {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

#appt {
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    margin: 20px;
    background-color:mintcream
}

#container {
    width: 100%;
    margin: auto;
}

#first {
    width: 49%;
    float: left;
    height: 700px;
    background-color: #ADD8E6;
    border: 5px solid black;
    border-radius: 25px;
    overflow-y: auto;
    text-align: center;
}
#second {
    width: 49%;
    float: right;
    height: 700px;
    background-color: gainsboro;
    border: 5px solid black;
    border-radius: 25px;
}
#clear {
    clear: both;
}