@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background: antiquewhite;
}

h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

#checkupButton {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 20px;
    padding-bottom: 20px;

    text-align: center;
    margin: auto;
    justify-content: center;

    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    margin: 20px;
}

#checkupButton:hover,
#checkupButton:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

#checkupButton:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

#checkupButton:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

#container {
    width: 100%;
    margin: auto;
}

#first {
    width: 49%;
    float: left;
    height: 500px;
    background-color: #ADD8E6;
    border: 5px solid black;
    border-radius: 25px;
    overflow-y: auto;
    text-align: center;
}
#second {
    width: 49%;
    float: right;
    height: 500px;
    background-color: gainsboro;
    border: 5px solid black;
    border-radius: 25px;
}
#clear {
    clear: both;
}